<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="personalWeekReportDao" class="com.neusoft.core.dao.Impl.GenericEntityDao" parent="AbstractEntityDao">
		<property name="nameSpace" value="ReportForms" />
	</bean>
	<!-- ================== split tag =================== -->
	<util:list id="list_perWeek_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="single" value="true" />
			<property name="resultKey" value="pw_tital" />
			<property name="statementName" value="ReportForms.createPerWeek_total" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="pw_tital" />
			<property name="notNull" value="true" />
			<property name="single" value="false" />
			<property name="resultKey" value="pw_list" />
			<property name="statementName" value="ReportForms.createPerWeek_list" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_staffMonth_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="staffMonth_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.createStaffMonth" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_projectStaff_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="projectStaff_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.createProjectStaff" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_projMonth_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="projMonth_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.createProjMonth" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_staffInfo_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="staffInfo_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.createStaffInfo" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_addrBook_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="addrBook_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.createAddrBook" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_projWeek_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="prohead_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.projfromhead" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="prohour_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.projfromhour" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="procout_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.projfromcout" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="proprob_list" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.projfromproblem" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="init_legal_projects_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="projects_list" />
			<property name="statementName" value="ProjectInfo.query_legal_projects" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter" parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>projects_list</value>
				</util:list>
			</property>
			<property name="fixedKeys" value="dataSet_prolist" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_dep_projWeek_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="reportID" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="PweeklyReport" />
			<property name="single" value="true" />
			<property name="statementName" value="ReportForms.dep_pwr_body" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="PweeklyReport" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="ProjectStats" />
			<property name="statementName" value="ReportForms.dep_pro_stats" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="PweeklyReport" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="Problems" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.dep_pwr_problems" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="PweeklyReport" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="Memberplans" />
			<property name="statementName" value="ReportForms.dep_pwr_plans" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="PweeklyReport" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="DailyReports" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.dep_day_detals" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="query_dutyclt_detail_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="reportList" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_dutyclt_detail" />
		</bean>
		<bean class="com.neusoft.model.reportforms.service.AssemblingDutyCltFilter" parent="FilterBase">
			<property name="pamKey" value="reportList" />
			<property name="resKey" value="dutyList" />
		</bean>
		<bean class="com.neusoft.model.reportforms.service.DutyCltBulderSelfFilter" parent="FilterBase">
			<property name="pamKey" value="dutyList" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="dutyList" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="query_dailyExport_detail_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="pmmList" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_pmm_for_export" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="reportList" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_daily_for_export" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="query_overWorker_detail_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="overworkList" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_over_work_list" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="query_worktime_detail_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="proMemberIds" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_members_by_projectId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="workhoursList" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_workhours_detail" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="totalHoursList" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_workhours_total" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="query_proMember_detail_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="proMemberList" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_proMember_by_deptIds" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="query_wcassit_detail_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="sumHoursDetail" />
			<property name="single" value="false" />
			<property name="statementName" value="ReportForms.query_wcassit_by_deptIds" />
		</bean>
	</util:list>
</beans>
