####### 忽略文件 ############

###############
#    folder   #
###############
/.svn/
/.git/
/.settings/
/.metadata/
/.target/




###############
#  fixed file #
###############
.project
.classpath



###############
#  temp file  #
###############
~*
*.log
*.tmp