<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="eWeekReportDao" class="com.neusoft.core.dao.Impl.GenericEntityDao"
		parent="AbstractEntityDao">
		<property name="nameSpace" value="EWeekReport" />
	</bean>
	<bean id="AbstractEWeekRepor"
		class="com.neusoft.model.eweekreport.service.AbstractEWeekReport"
		parent="FilterBase" abstract="true">
		<property name="eWeekReportDao" ref="eWeekReportDao" />
	</bean>
	<!-- ===================== chain ================================= -->
	<util:list id="init_vwk_report_data_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="dataSet_prolist" />
			<property name="statementName" value="ProjectInfo.query_all_legal_projects" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter"
			parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>dataSet_prolist</value>
				</util:list>
			</property>
			<property name="fixedKeys" value="dataSet_prolist" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter"
			parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- ===========================chain========================= -->
	<util:list id="query_view_eWeekReport_chain">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_eWeekReport_list" />
			<property name="statementName" value="EWeekReport.query_all_for_view" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="json_eWeekReport_list" />
		</bean>
	</util:list>
	<!-- ===========================chain========================= -->
	<util:list id="init_ewReport_data_chain">
		<bean class="com.neusoft.core.chain.general.InitParameterFilter"
			parent="FilterBase">
			<property name="paramMaps">
				<util:map>
					<entry key="catalgList" value-ref="daily_report_dict_list" />
				</util:map>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="daily_report_list" />
			<property name="statementName" value="DictRecord.query_record_by_sire" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter"
			parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>daily_report_list</value>
				</util:list>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter"
			parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- ===========================chain========================= -->
	<util:list id="find_all_eWeekReport_byself_chain">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_eWeekReport_list2" />
			<property name="statementName" value="EWeekReport.selectAllbySelf" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="json_eWeekReport_list2" />
		</bean>
	</util:list>
	<!-- 根据项目ID查用户列表 -->
	<util:list id="query_project_userlistew_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="paramKey" value="projectId" />
			<property name="resultKey" value="project_user_list_ofew" />
			<property name="statementName" value="DailyReport.query_userlist_by_projectId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="project_user_list_ofew" />
		</bean>
	</util:list>
	<!-- ================ split tag ================ -->
	<util:list id="query_detail_daily_report_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="json_detail" />
			<property name="statementName" value="EWeekReport.query_detail_wreport" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="json_detail" />
		</bean>
	</util:list>
	<!-- ================ remove data ================ -->
	<util:list id="remove_eWeekReport_chain">
		<bean class="com.neusoft.core.chain.general.BatchExecuteStatementFilter"
			parent="SqlMapClientSupportFilter">
			<property name="paramKey" value="instance" />
			<property name="statements">
				<util:list value-type="java.lang.String">
					<value>EWeekReport.deleteById</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<util:list id="save_update_eWeekReport_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="resultKey" value="report_count" />
			<property name="single" value="true" />
			<property name="paramKey" value="instance" />
			<property name="statementName" value="EWeekReport.weekReport_check_All_Unique" />
		</bean>
		<bean class="com.neusoft.model.eweekreport.service.SaveOrUpdateEWeekReport"
			parent="AbstractEWeekRepor">
			<property name="keyCount" value="report_count" />
			<property name="keyInstance" value="instance" />
		</bean>
	</util:list>
	<bean id="WeekReportActionImpl"
		class="com.neusoft.model.eweekreport.facade.Impl.WeekReportActionImpl"
		scope="request" parent="AbstractAjaxAction">
		<dwr:remote javascript="IWeekReportAction">
			<dwr:include method="saveOrUpdateEWeekReport" />
		</dwr:remote>
		<aop:scoped-proxy proxy-target-class="false" />
	</bean>
</beans>