<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<bean id="dictCatalogDao" class="com.neusoft.core.dao.Impl.GenericEntityDao" parent="AbstractEntityDao">
		<property name="nameSpace" value="DictCatalog" />
	</bean>
	<bean id="dictRecordDao" class="com.neusoft.core.dao.Impl.GenericEntityDao" parent="AbstractEntityDao">
		<property name="nameSpace" value="DictRecord" />
	</bean>
	<bean id="departmentDao" class="com.neusoft.core.dao.Impl.GenericEntityDao" parent="AbstractEntityDao">
		<property name="nameSpace" value="Department" />
	</bean>
	<bean id="sourceInfoDao" class="com.neusoft.core.dao.Impl.GenericEntityDao" parent="AbstractEntityDao">
		<property name="nameSpace" value="SourceInfo" />
	</bean>
	<bean id="authorityInfoDao" class="com.neusoft.core.dao.Impl.GenericEntityDao" parent="AbstractEntityDao">
		<property name="nameSpace" value="AuthorityInfo" />
	</bean>
	<bean id="roleInfoDao" class="com.neusoft.core.dao.Impl.GenericEntityDao" parent="AbstractEntityDao">
		<property name="nameSpace" value="RoleInfo" />
	</bean>
	<!-- defined filter bean -->
	<bean id="ArsdAdapterFilter" class="com.neusoft.model.arsd.service.AbstractAdapterFilter"
		parent="FilterBase" abstract="true">
		<property name="catalogDao" ref="dictCatalogDao" />
		<property name="recordDao" ref="dictRecordDao" />
		<property name="sourceInfoDao" ref="sourceInfoDao" />
		<property name="authorityDao" ref="authorityInfoDao" />
		<property name="roleDao" ref="roleInfoDao" />
		<property name="refreshSecMetadata" ref="securityMetadataSource" />
	</bean>
	<bean id="dictCatalogBaseFilter" class="com.neusoft.model.arsd.service.DictCatalogBaseFilter"
		parent="ArsdAdapterFilter" />
	<bean id="checkCatalogBaseFilter" class="com.neusoft.model.arsd.service.CheckCatalogBaseFilter"
		parent="ArsdAdapterFilter" />
	<bean id="dictRecordBaseFilter" class="com.neusoft.model.arsd.service.DictRecordBaseFilter"
		parent="ArsdAdapterFilter" />
	<bean id="checkRecordBaseFilter" class="com.neusoft.model.arsd.service.CheckRecordBaseFilter"
		parent="ArsdAdapterFilter" />
	<bean id="checkSourceBaseFilter" class="com.neusoft.model.arsd.service.CheckSourceBaseFilter"
		parent="ArsdAdapterFilter" />
	<bean id="sourceInfoBaseFilter" class="com.neusoft.model.arsd.service.SourceInfoBaseFilter"
		parent="ArsdAdapterFilter" />
	<bean id="disableSubMenuFilter" class="com.neusoft.model.arsd.service.DisableSubMenuFilter"
		parent="ArsdAdapterFilter" />
	<bean id="checkAuthorInfoFilter" class="com.neusoft.model.arsd.service.CheckAuthorInfoFilter"
		parent="ArsdAdapterFilter" />
	<bean id="handlerAuthorInfoFilter" class="com.neusoft.model.arsd.service.HandlerAuthorInfoFilter"
		parent="ArsdAdapterFilter" />
	<bean id="handlerRoleInfoFilter" class="com.neusoft.model.arsd.service.HandlerRoleInfoFilter"
		parent="ArsdAdapterFilter" />
	<bean id="roleMapAuthorFilter" class="com.neusoft.model.arsd.service.RoleMapAuthorFilter"
		parent="ArsdAdapterFilter" />
	<bean id="menuModelBuilderFilter" class="com.neusoft.model.arsd.service.MenuModelBuilderFilter"
		parent="FilterBase" />
	<!-- ==================== defined filter list ==================== -->
	<util:list id="init_menu_toJson_chain">
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter">
			<property name="paramKey" value="KEY_MENULIST" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="open_role_dict_list">
		<value>roleType</value>
	</util:list>
	<util:list id="init_role_data_chain">
		<bean class="com.neusoft.core.chain.general.InitParameterFilter" parent="FilterBase">
			<property name="paramMaps">
				<util:map>
					<entry key="catalgList" value-ref="open_role_dict_list" />
				</util:map>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="dict_list" />
			<property name="statementName" value="DictRecord.query_record_by_sire" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter" parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>dict_list</value>
				</util:list>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="role_map_author_chain">
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter" parent="FilterBase">
			<property name="statusAction" value="0" />
		</bean>
		<bean class="com.neusoft.core.chain.general.ExecuteBatchFilter" parent="SqlMapClientSupportFilter">
			<property name="status" value="0" />
		</bean>
		<ref bean="roleMapAuthorFilter" />
		<bean class="com.neusoft.core.chain.general.ExecuteBatchFilter" parent="SqlMapClientSupportFilter">
			<property name="status" value="1" />
		</bean>
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter" parent="FilterBase">
			<property name="statusAction" value="1" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_role_author_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="paramKey" value="roleId" />
			<property name="resultKey" value="role_author_list" />
			<property name="statementName" value="AuthorityInfo.query_by_roleId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter">
			<property name="paramKey" value="role_author_list" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="enabled_authors_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="enable_author_list" />
			<property name="statementName" value="AuthorityInfo.query_enabled_authors" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter">
			<property name="paramKey" value="enable_author_list" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="remove_Source_chain">
		<bean class="com.neusoft.model.arsd.service.RemoveSourceBaseFilter" parent="ArsdAdapterFilter" />
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="init_source_data_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="author_opt_list" />
			<property name="statementName" value="AuthorityInfo.query_author_for_opts" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter" parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>author_opt_list</value>
				</util:list>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="init_dict_data_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="catalg_list" />
			<property name="statementName" value="DictCatalog.selectAll_for_options" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter" parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>catalg_list</value>
				</util:list>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="saveOrupdateRole_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="resultKey" value="roleIds" />
			<property name="single" value="false" />
			<property name="paramKey" value="instance" />
			<property name="statementName" value="RoleInfo.check_is_exist" />
		</bean>
		<bean class="com.neusoft.model.arsd.service.CheckRoleInfoFilter" parent="ArsdAdapterFilter" />
		<ref bean="handlerRoleInfoFilter" />
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="saveOrupdateAuthor_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="resultKey" value="authorIds" />
			<property name="single" value="false" />
			<property name="paramKey" value="instance" />
			<property name="statementName" value="AuthorityInfo.check_is_exist" />
		</bean>
		<ref bean="checkAuthorInfoFilter" />
		<ref bean="handlerAuthorInfoFilter" />
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="remove_Author_chain">
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter" parent="FilterBase">
			<property name="statusAction" value="0" />
		</bean>
		<bean class="com.neusoft.core.chain.general.BatchExecuteStatementFilter" parent="SqlMapClientSupportFilter">
			<property name="paramKey" value="instance" />
			<property name="statements">
				<util:list value-type="java.lang.String">
					<value>AuthorityInfo.remove_author_from_source</value>
					<value>AuthorityInfo.remove_author_from_amr</value>
					<value>AuthorityInfo.remove_author_from_self</value>
				</util:list>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter" parent="FilterBase">
			<property name="statusAction" value="1" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="saveOrupdateSource_chain">
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter" parent="FilterBase">
			<property name="statusAction" value="0" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="resultKey" value="sourceIds" />
			<property name="single" value="false" />
			<property name="paramKey" value="instance" />
			<property name="statementName" value="SourceInfo.check_isExist_Example" />
		</bean>
		<ref bean="checkSourceBaseFilter" />
		<ref bean="disableSubMenuFilter" />
		<ref bean="sourceInfoBaseFilter" />
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter" parent="FilterBase">
			<property name="statusAction" value="1" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="saveOrupdateCatalog_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="resultKey" value="catalogIds" />
			<property name="single" value="false" />
			<property name="paramKey" value="instance" />
			<property name="statementName" value="DictCatalog.list_CatalogIds_ByName" />
		</bean>
		<ref bean="checkCatalogBaseFilter" />
		<ref bean="dictCatalogBaseFilter" />
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="saveOrupdateRecord_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="resultKey" value="recordIds" />
			<property name="single" value="false" />
			<property name="paramKey" value="instance" />
			<property name="statementName" value="DictRecord.list_CatalogIds_ByExample" />
		</bean>
		<ref bean="checkRecordBaseFilter" />
		<ref bean="dictRecordBaseFilter" />
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="findByCatalog_record_filter">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_catalog" />
			<property name="statementName" value="DictRecord.query_ByCatalog" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_catalog" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_allsource_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="source_list" />
			<property name="single" value="false" />
			<property name="statementName" value="SourceInfo.query_all_sources" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="source_list" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_allauthor_chain">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_authors" />
			<property name="statementName" value="AuthorityInfo.query_all_authors" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_authors" />
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="list_allRole_chain">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_roles" />
			<property name="statementName" value="RoleInfo.query_all_roles" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="author_list" />
			<property name="statementName" value="AuthorityInfo.query_role_map_author" />
		</bean>
		<bean class="com.neusoft.model.arsd.service.MergerRoleMapAuthorFilter" parent="FilterBase" />
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_roles" />
		</bean>
	</util:list>
	<!-- ajax action config -->
	<bean id="RemoteActionImpl" class="com.neusoft.model.arsd.facade.Impl.RemoteActionImpl" scope="request"
		parent="AbstractAjaxAction">
		<dwr:remote javascript="ArsdRemoteAction">
			<dwr:include method="saveOrUpdateCatalog" />
			<dwr:include method="saveOrUpdateRecord" />
			<dwr:include method="saveOrUpdatSource" />
			<dwr:include method="saveOrUpdateAuthor" />
			<dwr:include method="saveOrUpdateRole" />
			<dwr:include method="authorizationAction" />
			<dwr:include method="removeSource" />
		</dwr:remote>
		<aop:scoped-proxy proxy-target-class="false" />
	</bean>
</beans>
