<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- system basic config -->
	<import resource="classpath:com/neusoft/config/spring-ajax-cfg.xml" />
	<import resource="classpath:com/neusoft/core/config/spring-core-cfg.xml" />
	<import resource="classpath:com/neusoft/core/config/spring-ibatis-cfg.xml" />
	<import resource="classpath:com/neusoft/core/config/spring-chain-cfg.xml" />
	<import resource="classpath:com/neusoft/config/spring-acegi-cfg.xml" />
	<import resource="classpath:com/neusoft/model/arsd/config/spring-arsd-cfg.xml" />
	<import resource="classpath:com/neusoft/model/udmgr/config/spring-udmgr-cfg.xml" />
	<import
		resource="classpath:com/neusoft/model/reportforms/config/spring-reportforms-cfg.xml" />
	<import
		resource="classpath:com/neusoft/model/report/config/spring-report-cfg.xml" />
	<import
		resource="classpath:com/neusoft/model/eweekreport/config/spring-eweekreport-cfg.xml" />
	<import
		resource="classpath:com/neusoft/model/pwreport/config/spring-pwreport-cfg.xml" />
	<import resource="classpath:com/neusoft/model/duty/config/spring-duty-cfg.xml" />
</beans>
