<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:property-placeholder location="classpath:com/neusoft/config/system-context-cfg.properties" />
	<mvc:annotation-driven />
	<mvc:resources location="/resources/" mapping="/resources/**" />
	<mvc:interceptors>
		<bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor" />
	</mvc:interceptors>
	<bean class="org.springframework.web.servlet.i18n.AcceptHeaderLocaleResolver" />
	<!-- ===================================================== -->
	<!-- ======= ViewResolver For FreeMarkerConfigurer ======= -->
	<!-- ===================================================== -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="${fmk.templateLoaderPath}"></property>
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">${fmk.template_update_delay}</prop>
				<prop key="default_encoding">${system.def_Encoding}</prop>
				<prop key="locale">${fmk.localtion}</prop>
				<prop key="date_format">${system.date_format}</prop>
				<prop key="time_format">${system.time_format}</prop>
				<prop key="number_format">${fmk.number_format}</prop>
				<prop key="template_exception_handler">${fmk.template_exception_handler}</prop>
			</props>
		</property>
		<property name="freemarkerVariables">
			<util:map>
				<entry key="resBase" value="${resource.path}" />
				<entry key="company" value="${company.name}" />
				<entry key="ajaxBase" value="${ajax.path}" />
			</util:map>
		</property>
	</bean>
	<!-- ==================== NegotiatingViewResolver =============================== -->
	<bean id="NegotiatingViewResolver" class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="mediaTypes">
			<util:map key-type="java.lang.String" value-type="java.lang.String">
				<entry key="ftl" value="text/html" />
				<entry key="json" value="application/json" />
				<entry key="xml" value="application/xml" />
			</util:map>
		</property>
		<property name="viewResolvers">
			<util:list>
				<ref bean="ftlviewResolver" />
			</util:list>
		</property>
		<property name="defaultViews">
			<util:list>
				<ref bean="JacksonJsonView" />
				<ref bean="XmlMarshallingView" />
			</util:list>
		</property>
	</bean>
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="1073741824" />
	</bean>
	<!-- ===================================================== -->
	<!-- ========== ViewResolver For FreeMarker ============== -->
	<!-- ===================================================== -->
	<bean id="ftlviewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="cache" value="${fmk.cache}" />
		<property name="suffix" value="${fmk.suffix}" />
		<property name="prefix" value="" />
		<property name="exposeRequestAttributes" value="${fmk.exposeRequestAttributes}" />
		<property name="exposeSessionAttributes" value="${fmk.exposeSessionAttributes}" />
		<property name="allowSessionOverride" value="${fmk.allowSessionOverride}" />
		<property name="exposeSpringMacroHelpers" value="${fmk.exposeSpringMacroHelpers}" />
		<property name="contentType" value="${fmk.contentType}" />
	</bean>
	<bean id="JacksonJsonView" class="org.springframework.web.servlet.view.json.MappingJacksonJsonView" />
	<bean id="XmlMarshallingView" class="org.springframework.web.servlet.view.xml.MarshallingView">
		<property name="marshaller" ref="castorMarshaller" />
		<property name="modelKey" value="key_bean2xml" />
	</bean>
	<bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller">
		<property name="mappingLocation" value="classpath:com/neusoft/config/bean2xml-mapping.xml" />
	</bean>
	<!-- ===================== scan path for reg ===================== -->
	<context:component-scan base-package="com.neusoft.model">
		<context:include-filter type="regex" expression=".*.web.*Controller" />
	</context:component-scan>
</beans>
