<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- ================== DAO ==================================== -->
	<bean id="pweeklyReportDao" class="com.neusoft.core.dao.Impl.GenericEntityDao"
		parent="AbstractEntityDao">
		<property name="nameSpace" value="PweeklyReport" />
	</bean>
	<!-- ================== Bean ==================================== -->
	<bean id="PwdAdapterFilter"
		class="com.neusoft.model.pwreport.service.AbstractAdapterFilter"
		abstract="true" parent="FilterBase">
		<property name="pweeklyReportDao" ref="pweeklyReportDao" />
		<property name="proStatsDao" ref="proStatsDao" />
	</bean>
	<bean id="queryProList" class="com.neusoft.core.chain.general.CommonsQueryFilter"
		parent="AbstractQueryFilter">
		<property name="paramKey" value="ctxself" />
		<property name="resultKey" value="project_list" />
		<property name="statementName" value="PweeklyReport.query_prolist_for_pwr" />
	</bean>
	<!-- ================== Chains ==================================== -->
	<util:list id="problem-dict-need">
		<value>problemstates</value>
		<value>posttype</value>
		<value>milestone</value>
		<value>miltonStatus</value>
		<value>clientRelation</value>
		<value>requirementAlter</value>
		<value>humanResource</value>
		<value>efficiencyExecute</value>
	</util:list>
	<util:list id="init_pro_wrpt_chain">
		<bean class="com.neusoft.core.chain.general.InitParameterFilter"
			parent="FilterBase">
			<property name="paramMaps">
				<util:map>
					<entry key="catalgList" value-ref="problem-dict-need" />
				</util:map>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="dict_list" />
			<property name="statementName" value="DictRecord.query_record_by_sire" />
		</bean>
		<ref bean="queryProList" />
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter"
			parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>project_list</value>
					<value>dict_list</value>
				</util:list>
			</property>
			<property name="fixedKeys"
				value="project_list|problemstates|clientRelation|requirementAlter|humanResource|efficiencyExecute" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter"
			parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="pwrepor-dict-need">
		<value>projectStatus</value>
	</util:list>
	<util:list id="init_pwrpt_list_chain">
		<bean class="com.neusoft.core.chain.general.InitParameterFilter"
			parent="FilterBase">
			<property name="paramMaps">
				<util:map>
					<entry key="catalgList" value-ref="pwrepor-dict-need" />
				</util:map>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="dataSet_prolist" />
			<property name="statementName" value="ProjectInfo.query_legal_projects" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="dict_list" />
			<property name="statementName" value="DictRecord.query_record_by_sire" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter"
			parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>dict_list</value>
					<value>dataSet_prolist</value>
				</util:list>
			</property>
			<property name="fixedKeys" value="dataSet_prolist|projectStatus" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter"
			parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="init_pro_wrped_chain">
		<bean class="com.neusoft.core.chain.general.InitParameterFilter"
			parent="FilterBase">
			<property name="paramMaps">
				<util:map>
					<entry key="catalgList" value-ref="problem-dict-need" />
				</util:map>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="dict_list" />
			<property name="statementName" value="DictRecord.query_record_by_sire" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="KEY_USERID" />
			<property name="resultKey" value="report_list" />
			<property name="statementName" value="PweeklyReport.load_rptList_by_userId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter"
			parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>report_list</value>
					<value>dict_list</value>
				</util:list>
			</property>
			<property name="fixedKeys" value="pwreport_list|problemstates" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter"
			parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="pwreport_list_data_chain">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="json_report_data" />
			<property name="statementName" value="PweeklyReport.query_report_by_project" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="json_report_data" />
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="handler_pro_wreport_chain">
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter"
			parent="FilterBase">
			<property name="statusAction" value="0" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="single" value="true" />
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="report_count" />
			<property name="statementName" value="PweeklyReport.query_report_by_count" />
		</bean>
		<bean class="com.neusoft.model.pwreport.service.HandlerPweeklyReportFilter"
			parent="PwdAdapterFilter">
			<property name="key_count" value="report_count" />
		</bean>
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter"
			parent="FilterBase">
			<property name="statusAction" value="1" />
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="load_last_prolems_byRepId_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="lastRpt" />
			<property name="single" value="true" />
			<property name="statementName" value="PweeklyReport.query_last_report_byprojectId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="instance" />
			<property name="notNull" value="true" />
			<property name="resultKey" value="problm_list" />
			<property name="statementName"
				value="PweeklyReport.query_open_problems" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="problm_list" />
			<property name="addition" value="lastRpt" />
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="load_plans_forsave_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="plans_one_list" />
			<property name="single" value="false" />
			<property name="statementName" value="PweeklyReport.query_aller_by_projectId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="plans_two_list" />
			<property name="single" value="false" />
			<property name="statementName" value="PweeklyReport.query_other_by_projectId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.MergerCollectionFilter"
			parent="FilterBase">
			<property name="type" value="list" />
			<property name="resKey" value="plans_list" />
			<property name="keys" value="plans_one_list|plans_two_list" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="plans_times_list" />
			<property name="statementName" value="PweeklyReport.query_plans_one" />
		</bean>
		<bean class="com.neusoft.model.pwreport.service.MergerMemberPlansFilter"
			parent="FilterBase">
			<property name="keySrc" value="plans_list" />
			<property name="keyTag" value="plans_times_list" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="plans_list" />
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="load_prolems_byRepId_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="problems_list" />
			<property name="statementName" value="PweeklyReport.query_problems_by_reportId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="problems_list" />
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="load_plans_byRepId_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="plans_one_list" />
			<property name="statementName" value="PweeklyReport.query_plans_one" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="plans_two_list" />
			<property name="statementName" value="PweeklyReport.query_plans_two" />
		</bean>
		<bean class="com.neusoft.model.pwreport.service.MergerMemberPlansFilter"
			parent="FilterBase">
			<property name="keySrc" value="plans_two_list" />
			<property name="keyTag" value="plans_one_list" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="plans_two_list" />
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="check_pro_exist_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="single" value="true" />
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="report_count" />
			<property name="statementName" value="PweeklyReport.query_report_by_count" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="report_count" />
		</bean>
	</util:list>
	<!-- =============== split ======================= -->
	<util:list id="load_pwreport_byrptId_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter"
			parent="AbstractQueryFilter">
			<property name="single" value="true" />
			<property name="paramKey" value="reportId" />
			<property name="resultKey" value="report" />
			<property name="statementName" value="PweeklyReport.load_by_reportId" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter"
			parent="FilterBase">
			<property name="paramKey" value="report" />
		</bean>
	</util:list>
	<!-- ================== AJAX ==================================== -->
	<bean id="ProWkReportRemoteActionImpl" class="com.neusoft.model.pwreport.facade.Impl.RemoteActionImpl"
		parent="AbstractAjaxAction" scope="request">
		<dwr:remote javascript="ProwrAjaxHandler">
			<dwr:include method="handlerPweeklyReport" />
		</dwr:remote>
	</bean>
</beans>
