<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<!-- =========================== dao =========================== -->
	<bean id="dutyCommonDao" class="com.neusoft.core.dao.Impl.GenericEntityDao" parent="AbstractEntityDao">
		<property name="nameSpace" value="CheckingRule" />
	</bean>
	<!-- =========================== Filter =========================== -->
	<bean id="AbstractCKRuleAdapter" class="com.neusoft.model.duty.service.AbstractAdapterFilter"
		abstract="true" parent="FilterBase">
		<property name="dutyCommonDao" ref="dutyCommonDao" />
		<property name="configuration" ref="configurationImpl" />
	</bean>
	<!-- =========================== chain =========================== -->
	<util:list id="init_checkrule_opts_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="dept_list" />
			<property name="statementName" value="Department.query_all_for_options" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter" parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>dept_list</value>
				</util:list>
			</property>
			<property name="fixedKeys" value="dept_data" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- ================== split tag =================== -->
	<util:list id="init_recheck_base_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="dept_list" />
			<property name="statementName" value="Department.selectAll_for_options" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="rule_list" />
			<property name="statementName" value="CheckingRule.selectAll_for_options" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter" parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>dept_list</value>
					<value>rule_list</value>
				</util:list>
			</property>
			<property name="fixedKeys" value="dept_data|rule_data" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="init_holidays_view_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="year_list" />
			<property name="statementName" value="CheckingRule.query_years_for_options" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2OptionModelFilter" parent="FilterBase">
			<property name="keys">
				<util:list>
					<value>year_list</value>
				</util:list>
			</property>
			<property name="fixedKeys" value="years_data" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2ModelMapFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>optionData</value>
				</util:list>
			</property>
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="list_checkrule_json_chain">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_rule_data" />
			<property name="statementName" value="CheckingRule.query_checkrule_json" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_rule_data" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="list_detail_json_chain">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_detail_data" />
			<property name="statementName" value="CheckingRule.query_ckdetails_json" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_detail_data" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="list_ckstats_json_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="single" value="false" />
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_stats_data" />
			<property name="statementName" value="CheckingRule.query_ckstats_json" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_stats_data" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="list_smp_detail_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_smptail_data" />
			<property name="statementName" value="CheckingRule.query_smpdetails_json" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_smptail_data" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="list_pck_detail_chain">
		<bean class="com.neusoft.core.chain.general.PaginationQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_pdetail_data" />
			<property name="statementName" value="CheckingRule.query_pckdetails_json" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_pdetail_data" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="edit_check_comment_chain">
		<bean class="com.neusoft.core.chain.general.BatchExecuteStatementFilter" parent="SqlMapClientSupportFilter">
			<property name="paramKey" value="ctxself" />
			<property name="statements">
				<util:list value-type="java.lang.String">
					<value>CheckingRule.update_check_comments</value>
				</util:list>
			</property>
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2BackModelHandleFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>update_row</value>
				</util:list>
			</property>
			<property name="clear" value="true" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="list_holidays_json_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_holiday_data" />
			<property name="statementName" value="CheckingRule.query_holiday_json" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_holiday_data" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="hanlder_checkingRule_chain">
		<bean class="com.neusoft.model.duty.service.HandlerCheckRuleFilter" parent="AbstractCKRuleAdapter" />
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="check_detail_edited_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="single" value="true" />
			<property name="notNull" value="true" />
			<property name="paramKey" value="checkDetail.ruleId" />
			<property name="resultKey" value="check_rule" />
			<property name="statementName" value="CheckingRule.query_checkrule_byId" />
		</bean>
		<bean class="com.neusoft.model.duty.service.VerifyByRuleActionFilter" parent="SqlMapClientSupportFilter">
			<property name="ruleKey" value="check_rule" />
			<property name="detailKey" value="checkDetail" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2BackModelHandleFilter" parent="FilterBase">
			<property name="keyList">
				<util:list value-type="java.lang.String">
					<value>checkDetail</value>
				</util:list>
			</property>
			<property name="clear" value="true" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="hanlder_holidayRule_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="paramKey" value="instance" />
			<property name="resultKey" value="extis_holiday_data" />
			<property name="statementName" value="CheckingRule.check_holiday_exits" />
		</bean>
		<bean class="com.neusoft.model.duty.service.HandlerHolidayRuleFilter" parent="AbstractCKRuleAdapter" />
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="check_in_or_out_chain">
		<bean class="com.neusoft.model.duty.service.VerifyCheckActionFilter" parent="SqlMapClientSupportFilter" />
		<bean class="com.neusoft.model.duty.service.LoadCheckRuleFilter" parent="SqlMapClientSupportFilter" />
		<bean class="com.neusoft.model.duty.service.DoCheckActionFilter" parent="SqlMapClientSupportFilter" />
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="list_happyday_detail_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="json_happyDays" />
			<property name="single" value="false" />
			<property name="statementName" value="CheckingRule.query_happyDays_list" />
		</bean>
		<bean class="com.neusoft.core.chain.general.Result2JsonModelHandleFilter" parent="FilterBase">
			<property name="paramKey" value="json_happyDays" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="job_auto_check_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="holiday_list" />
			<property name="single" value="false" />
			<property name="statementName" value="CheckingRule.query_holidayrule_by_today" />
		</bean>
		<bean class="com.neusoft.model.duty.service.ChechRuleFilter" parent="FilterBase">
			<property name="key" value="holiday_list" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="resultKey" value="detail_list" />
			<property name="statementName" value="CheckingRule.query_batch_check" />
		</bean>
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter" parent="FilterBase">
			<property name="statusAction" value="0" />
		</bean>
		<bean class="com.neusoft.core.chain.general.ExecuteBatchFilter" parent="SqlMapClientSupportFilter">
			<property name="status" value="0" />
		</bean>
		<bean class="com.neusoft.model.duty.service.BatchInsertCheckDetailFilter" parent="SqlMapClientSupportFilter">
			<property name="detailsKey" value="detail_list" />
		</bean>
		<bean class="com.neusoft.core.chain.general.ExecuteBatchFilter" parent="SqlMapClientSupportFilter">
			<property name="status" value="1" />
		</bean>
		<bean class="com.neusoft.core.chain.general.TransactionManagerFilter" parent="FilterBase">
			<property name="statusAction" value="1" />
		</bean>
	</util:list>
	<!-- =============== split ========================= -->
	<util:list id="job_backup_db_chain">
		<bean class="com.neusoft.model.duty.service.BackUpDataBaseFilter" parent="FilterBase">
			<property name="configuration" ref="configurationImpl" />
		</bean>
	</util:list>
	<!-- ================= ajax bean ====================== -->
	<bean id="DutyRemoteActionImpl" class="com.neusoft.model.duty.facade.Impl.RemoteActionImpl"
		parent="AbstractAjaxAction" scope="request">
		<dwr:remote javascript="DutyAjaxAction">
			<dwr:include method="handlerCkRule" />
			<dwr:include method="handlerHoldayRule" />
			<dwr:include method="checkAction" />
			<dwr:include method="checkEdited" />
			<dwr:include method="editComments" />
		</dwr:remote>
		<aop:scoped-proxy proxy-target-class="false" />
	</bean>
	<!-- ================= jobs config ====================== -->
	<bean id="runCheckJobs" class="com.neusoft.core.web.RunJobsChainSupport" parent="ChainSupport">
		<property name="chainName" value="job_auto_check_chain" />
	</bean>
	<bean id="runbkdbJobs" class="com.neusoft.core.web.RunJobsChainSupport" parent="ChainSupport">
		<property name="chainName" value="job_backup_db_chain" />
	</bean>
	<task:scheduled-tasks scheduler="_wkscheduler">
		<task:scheduled ref="runCheckJobs" method="runJob" cron="0 0 1 ? * *" />
		<task:scheduled ref="runbkdbJobs" method="runJob" cron="0 15 1 ? * *" />
	</task:scheduled-tasks>
</beans>
