<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd">
	<dwr:configuration>
		<dwr:convert type="bean" class="com.neusoft.core.web.CallBackModel" />
		<dwr:convert type="bean"
			class="com.neusoft.model.arsd.dao.pojo.DictCatalog" javascript="DictCatalog" />
		<dwr:convert type="bean"
			class="com.neusoft.model.arsd.dao.pojo.DictRecord" javascript="DictRecord" />
		<dwr:convert type="bean"
			class="com.neusoft.model.arsd.dao.pojo.SourceInfo" javascript="SourceInfo" />
		<dwr:convert type="bean"
			class="com.neusoft.model.arsd.dao.pojo.AuthorityInfo" javascript="AuthorityInfo" />
		<dwr:convert type="bean"
			class="com.neusoft.model.arsd.dao.pojo.RoleInfo" javascript="RoleInfo" />
		<dwr:convert type="bean"
			class="com.neusoft.model.udmgr.dao.pojo.UserBaseInfo" javascript="UserBaseInfo" />
		<dwr:convert type="bean"
			class="com.neusoft.model.udmgr.dao.pojo.UserAddition" javascript="UserAddition" />
		<dwr:convert type="bean"
			class="com.neusoft.model.udmgr.dao.pojo.ProjectInfo" javascript="ProjectInfo" />
		<dwr:convert type="bean"
			class="com.neusoft.model.udmgr.dao.pojo.PtransferLogs" javascript="PtransferLogs" />
		<dwr:convert type="bean"
			class="com.neusoft.model.udmgr.dao.pojo.ProjectStats" javascript="ProjectStats" />
		<dwr:convert type="bean"
			class="com.neusoft.model.report.dao.pojo.DailyReport" javascript="DailyReport" />
		<dwr:convert type="bean"
			class="com.neusoft.model.pwreport.dao.pojo.PweeklyReport" javascript="PweeklyReport" />
		<dwr:convert type="bean"
			class="com.neusoft.model.pwreport.dao.pojo.PweeklyMemberplan"
			javascript="PweeklyMemberplan" />
		<dwr:convert type="bean"
			class="com.neusoft.model.pwreport.dao.pojo.PweeklyProblems"
			javascript="PweeklyProblems" />
		<dwr:convert type="bean"
			class="com.neusoft.model.eweekreport.dao.pojo.EWeekReport"
			javascript="EWeekReport" />
		<dwr:convert type="bean"
			class="com.neusoft.model.udmgr.dao.pojo.Department" javascript="Department" />
		<dwr:convert type="bean"
			class="com.neusoft.model.duty.dao.pojo.CheckingRule" javascript="CheckingRule" />
		<dwr:convert type="bean"
			class="com.neusoft.model.duty.dao.pojo.HolidayRule" javascript="HolidayRule" />
		<dwr:convert type="bean"
			class="com.neusoft.model.udmgr.dao.pojo.TodoList" javascript="TodoList" />
		<dwr:convert type="bean"
			class="com.neusoft.model.duty.dao.pojo.CheckDetail" javascript="CheckDetail" />
	</dwr:configuration>
</beans>
