<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:sec="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	<context:property-placeholder location="classpath:com/neusoft/config/system-context-cfg.properties" />
	<bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy">
		<sec:filter-chain-map path-type="ant">
			<sec:filter-chain pattern="/resource/**" filters="none" />
			<sec:filter-chain pattern="/*.html*" filters="none" />
			<sec:filter-chain pattern="/**"
				filters="ConcurrentSessionFilter,SecurityContextPersistenceFilter,LogoutFilter,DaoAuthenticationFilter,SessionManagementFilter,ExceptionTranslationFilter,FilterSecurityInterceptor" />
		</sec:filter-chain-map>
	</bean>
	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="LoginAuthenticationProvider" />
	</sec:authentication-manager>
	<!-- ======== filter order 1 ========== -->
	<bean id="ConcurrentSessionFilter" class="org.springframework.security.web.session.ConcurrentSessionFilter">
		<property name="sessionRegistry" ref="sessionRegistry" />
		<property name="expiredUrl" value="${sec.login-page}" />
	</bean>
	<!-- ======== filter order 2 ========== -->
	<bean id="SecurityContextPersistenceFilter" class="org.springframework.security.web.context.SecurityContextPersistenceFilter">
		<property name="securityContextRepository" ref="securityContextRepository" />
	</bean>
	<!-- ======== filter order 3 ========== -->
	<bean id="LogoutFilter" class="com.neusoft.core.web.DoLogoutFilter">
		<property name="logoutSuccessHandler" ref="logoutSuccessHandler" />
		<property name="handlers">
			<util:list>
				<bean class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
			</util:list>
		</property>
	</bean>
	<!-- ======== filter order 4 ========== -->
	<bean id="DaoAuthenticationFilter" class="com.neusoft.core.web.UsernamePasswordIpAuthenticationFilter">
		<property name="sessionAuthenticationStrategy" ref="sessionAuthenticationStrategy" />
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" />
		<property name="authenticationFailureHandler" ref="authenticationFailureHandler" />
	</bean>
	<!-- ======== filter order 5 ========== -->
	<bean id="SessionManagementFilter" class="org.springframework.security.web.session.SessionManagementFilter">
		<constructor-arg ref="securityContextRepository" />
		<property name="sessionAuthenticationStrategy" ref="sessionAuthenticationStrategy" />
		<property name="invalidSessionUrl" value="${sec.authentication-failure-url}" />
	</bean>
	<!-- ======== filter order 6 ========== -->
	<bean id="ExceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</bean>
	<!-- ======== filter order 7 ========== -->
	<bean id="FilterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="accessDecisionManager" ref="accessDecisionManager" />
		<property name="securityMetadataSource" ref="securityMetadataSource" />
	</bean>
	<!-- 安全上下文session处理策略 -->
	<bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
	<!-- 安全上下文 session 授权策略 -->
	<bean id="sessionAuthenticationStrategy"
		class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<constructor-arg ref="sessionRegistry" />
		<property name="maximumSessions" value="1" />
		<property name="exceptionIfMaximumExceeded" value="true" />
	</bean>
	<!-- 安全上下文 存储策略 -->
	<bean id="securityContextRepository" class="org.springframework.security.web.context.HttpSessionSecurityContextRepository" />
	<bean id="logoutSuccessHandler"
		class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">
		<property name="defaultTargetUrl" value="${sec.login-page}" />
	</bean>
	<bean id="authenticationFailureHandler"
		class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
		<property name="defaultFailureUrl" value="${sec.authentication-failure-url}" />
	</bean>
	<bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
		<property name="errorPage" value="${sec.accessdeny-failure-url}" />
	</bean>
	<bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<property name="loginFormUrl" value="${sec.login-page}" />
	</bean>
	<bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<property name="decisionVoters">
			<util:list>
				<bean id="RoleVoter" class="org.springframework.security.access.vote.RoleVoter" />
			</util:list>
		</property>
	</bean>
	<bean id="LoginAuthenticationProvider" class="com.neusoft.core.web.LoginAuthenticationProvider">
		<property name="passwordEncoder">
			<bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
		</property>
		<property name="userDetailsService" ref="loadUserDetailService" />
	</bean>
	<bean id="loadUserDetailService" class="com.neusoft.model.udmgr.service.LoadUserDetailsService"
		parent="ChainSupport">
		<property name="rolePrefix" value="ROLE_" />
	</bean>
	<bean id="authenticationSuccessHandler" class="com.neusoft.model.udmgr.service.AuthenticationSuccessHandler">
		<property name="alwaysUseDefaultTargetUrl" value="true" />
		<property name="defaultTargetUrl" value="${sec.defaultTargetUrl}" />
	</bean>
	<bean id="securityMetadataSource" class="com.neusoft.core.common.Impl.DaoFilterInvocationSecurityMetadataSource"
		init-method="init">
		<property name="sqlMapClientTemplate" ref="sqlMapClientTemplate" />
		<property name="fixedInterceptUrls">
			<util:list value-type="com.neusoft.core.web.InterceptUrlsImpl">
				<bean class="com.neusoft.core.web.InterceptUrlsImpl">
					<property name="pattern" value="/**/*.xml" />
					<property name="access" value="LOGINOR" />
				</bean>
				<bean class="com.neusoft.core.web.InterceptUrlsImpl">
					<property name="pattern" value="/**/*.json" />
					<property name="access" value="LOGINOR" />
				</bean>
				<bean class="com.neusoft.core.web.InterceptUrlsImpl">
					<property name="pattern" value="/**/*.xls" />
					<property name="access" value="LOGINOR" />
				</bean>
				<bean class="com.neusoft.core.web.InterceptUrlsImpl">
					<property name="pattern" value="/**/*.xlsx" />
					<property name="access" value="LOGINOR" />
				</bean>
				<bean class="com.neusoft.core.web.InterceptUrlsImpl">
					<property name="pattern" value="/ajax/*" />
					<property name="access" value="LOGINOR" />
				</bean>
				<bean class="com.neusoft.core.web.InterceptUrlsImpl">
					<property name="pattern" value="/console/welcome/view.ftl" />
					<property name="access" value="LOGINOR" />
				</bean>
			</util:list>
		</property>
	</bean>
	<!-- ================== split tag =================== -->
	<util:list id="user_login_check_chain">
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="paramKey" value="loginId" />
			<property name="single" value="true" />
			<property name="resultKey" value="login_user_basic" />
			<property name="statementName" value="UserBaseInfo.query_for_login" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="paramKey" value="login_user_basic.userId" />
			<property name="resultKey" value="login_user_roles" />
			<property name="statementName" value="RoleInfo.query_role_by_user" />
		</bean>
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="notNull" value="true" />
			<property name="paramKey" value="login_user_basic.userId" />
			<property name="resultKey" value="login_user_authors" />
			<property name="statementName" value="AuthorityInfo.query_for_authorities" />
		</bean>
	</util:list>
	<util:list id="load_loginor_addinfo_chain">
		<bean class="com.neusoft.model.udmgr.service.LoadDateSetByUserIdFilter" parent="SqlMapClientSupportFilter" />
		<bean class="com.neusoft.core.chain.general.CommonsQueryFilter" parent="AbstractQueryFilter">
			<property name="paramKey" value="ctxself" />
			<property name="resultKey" value="menuModel_list" />
			<property name="statementName" value="SourceInfo.query_for_menu_by_authors" />
		</bean>
		<ref bean="menuModelBuilderFilter" />
		<bean class="com.neusoft.model.arsd.service.InitHtmlSessionTitleFilter" parent="ConfigUtilsSupportFilter" />
	</util:list>
</beans>
