<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.googlecode.coss.biz.base.model.CusContact">
	<!-- open cache -->
	<cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

	<resultMap id="com.googlecode.coss.biz.base.CusContact.RM" type="com.googlecode.coss.biz.base.model.CusContact">
        <result property="cusContactId" column="cus_contact_id"/>
        <result property="cusId" column="cus_id"/>
        <result property="contactId" column="contact_id"/>
	</resultMap>
	
	<!-- 用于select查询公用抽取的列 -->
	<sql id="columns">
	    <![CDATA[
		cus_contact_id,cus_id,contact_id
	    ]]>
	</sql>
	
	<sql id="where">
		<!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用Ognl.isNotEmpty()方法,具体请查看Ognl类 -->
		<where>	      				
			<if test="@.Ognl@isNotEmpty(cusContactId)">
				<if test="@.Ognl@isNotEmpty(conditions.cusContactId)">${conditions.cusContactId.condition}</if> cus_contact_id <if test="@.Ognl@isNotEmpty(conditions.cusContactId)">${conditions.cusContactId.compare.value}</if> #{cusContactId}
			</if>
			<if test="@.Ognl@isNotEmpty(cusId)">
				<if test="@.Ognl@isNotEmpty(conditions.cusId)">${conditions.cusId.condition}</if> cus_id <if test="@.Ognl@isNotEmpty(conditions.cusId)">${conditions.cusId.compare.value}</if> #{cusId}
			</if>
			<if test="@.Ognl@isNotEmpty(contactId)">
				<if test="@.Ognl@isNotEmpty(conditions.contactId)">${conditions.contactId.condition}</if> contact_id <if test="@.Ognl@isNotEmpty(conditions.contactId)">${conditions.contactId.compare.value}</if> #{contactId}
			</if>
		</where>
	</sql>

	<!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
	<insert id="insert" useGeneratedKeys="true" keyProperty="cusContactId">
    <![CDATA[
        INSERT INTO mfg$cus_contact (
        	cus_contact_id ,
        	cus_id ,
        	contact_id 
        ) VALUES (
        	#{cusContactId} ,
        	#{cusId} ,
        	#{contactId} 
        )
    ]]>
	    	<selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="cusContactId">
				SELECT LAST_INSERT_ID()
	        </selectKey>
	</insert>
    
	<update id="update" >
    <![CDATA[
        UPDATE mfg$cus_contact SET
	        cus_id = #{cusId} ,
	        contact_id = #{contactId} 
        WHERE 
	        cus_contact_id = #{cusContactId} 
    ]]>
	</update>

    <delete id="delete">
    <![CDATA[
        DELETE FROM mfg$cus_contact WHERE
        cus_contact_id = #{id} 
    ]]>
    </delete>
    
	<delete id="deleteIds">
	<![CDATA[
		DELETE FROM mfg$cus_contact WHERE
        cus_contact_id
		 in 
	]]>
		<foreach collection="array" item="ids" open="(" separator="," close=")">#{ids}</foreach>
	</delete>
    
    <select id="getById" resultMap="com.googlecode.coss.biz.base.CusContact.RM">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM mfg$cus_contact 
	        WHERE 
		        cus_contact_id = #{id} 
	    ]]>
	</select>
		
    <select id="count" resultType="long">
        SELECT count(*) FROM mfg$cus_contact 
		<include refid="where"/>
    </select>
    
    <!--
    	分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
    	因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="findPage" resultMap="com.googlecode.coss.biz.base.CusContact.RM">
    	SELECT <include refid="columns" />
	    FROM mfg$cus_contact
		<include refid="where"/>
		<if test="@.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
    </select>
	
	<select id="findAll" resultMap="com.googlecode.coss.biz.base.CusContact.RM">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM mfg$cus_contact 
	    ]]>
	    <if test="@.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<select id="find" resultMap="com.googlecode.coss.biz.base.CusContact.RM">
		SELECT <include refid="columns" />
	    <![CDATA[
		    FROM mfg$cus_contact 
	    ]]>
	    <include refid="where"/>
	    <if test="@.Ognl@isNotEmpty(sortColumns)">
			ORDER BY ${sortColumns}
		</if>
	</select>

	

</mapper>