<?xml version="1.0" encoding="UTF-8"?>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" threshold="null" debug="null">
    <appender name="PROJECT" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${alibaba_lp_lp4pl_log}/jboss_stdout.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="threshold" value="info"/>
        <param name="maxFileSize" value="30MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="PROJECT-DEBUG" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${alibaba_lp_lp4pl_log}/lp-debug.log"/>
        <param name="append" value="false"/>
        <param name="encoding" value="UTF-8"/>
        <param name="maxFileSize" value="30MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d [%X{requestURIWithQueryString}] %-5p %c{2} - %m%n"/>
        </layout>
    </appender>
    <appender name="VELOCITY" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="${alibaba_lp_lp4pl_log}/lp-velocity.log"/>
        <param name="append" value="true"/>
        <param name="encoding" value="UTF-8"/>
        <param name="maxFileSize" value="30MB"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %c{2} - %m%n"/>
        </layout>
    </appender>

    <logger name="com.alibaba.service.VelocityService" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="VELOCITY"/>
    </logger>

    <root>
        #if("run" == "${alibaba_lp_basic_setting_mode}")
			<level value="WARN"/>
        #else
			<level value="DEBUG"/>
        #end
        <appender-ref ref="PROJECT"/>
        <appender-ref ref="PROJECT-DEBUG"/>
    </root>
</log4j:configuration>
